:root{
	height: calc(100% - 70px - 2rem - 2px);
}
html, body {
	margin: 0;
	height: 100%;
}
a {
	color: #333;
	border-bottom: 2px solid #3282b8;
	text-decoration: none;
}
a:hover {
	transition: 0.4s;
	border-bottom: 2px solid #95b4c8;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
input, .form-c {
	padding: 0.6rem 0.8rem;
	border-radius: 4px;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.1);
	transition: 0.2s;
}
input:hover, input:focus {
	transition: 0.2s;
}
textarea {
	width: 100%;
	box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.warning {
	border-color: red;
	color: red;
}
.warning::placeholder {
	color: red;
}
.warning:-ms-input-placeholder {
	color: red;
}
.warning::-ms-input-placeholder {
	color: red;
}
.warning:focus::placeholder{
	color: #333;
}
.warning:focus:-ms-input-placeholder {
	color: #333;
}
.warning:focus::-ms-input-placeholder {
	color: #333;
}
.warning:focus {
	color: #333;
}
.wtext {
	color: red;
}
input[type=number] {
  -moz-appearance: textfield;
}
.table {
	border-collapse: collapse;
	width: 100%;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
    background: #fff
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3282b8;
    color: white;
}
body {
	background: #eee;
	font-family: 'Segoe UI', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	font-style: normal;
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	background: #0f4c75;
	color: #bbe1fa;
	width: 100%;
	padding: 1.4rem 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 9px 0px;
	z-index: 1001;
}
#header .logo {
	font-weight: 500;
	color: #f1f9fe;
}
#header .navbar {
	float: right;
}
#header .navbar a {
	margin: 0 0.3rem;
	color: #f1f9fe;
	font-weight: 300;
}
#header .navbar a:hover {
	color: #fff;
}
#header .navbar .btn {
	background: #ddf0fc;
	color: #1b262c;
	margin: 0 0.1rem;
	font-weight: 300;
}
#header .navbar .btn:hover {
	background: #95b4c8;
}
.navbar .sep {
	display: inline-block;
	padding: 0 0.2rem;
}
#header .navbar .icon {
  display: none;
}
#main {
	min-height: calc(100% - 70px - 2rem - 2px);
	padding: 2rem 0;
	margin-top: 4rem;
}
.wrapper {
	max-width: 1300px;
	margin: 0 auto;
}
.wrap-head {
	max-width: 1300px;
	margin: 1rem 0;
}
#contents {
	float: left;
	width: 67%;
	padding-right: 3%;
}
.post {
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 9px 0px;
	border-radius: 8px;
	padding: 1rem;
	margin-bottom: 1rem;
	position: relative;
	height: 200px;
	transition: 0.4s;
}
.post:hover {
	transition: 0.4s;
	opacity: 0.7;
	box-shadow: none;
}
.post .post-image {
	width: 35%;
	height: 200px;
	display: block;
	border-radius: 24px;
	position: absolute;
	left: 1rem;
}
.post .post-content {
	position: absolute;
	left: calc(35% + 2rem);
}
.post .post-content .post-title {
	padding: 0;
	margin: 1rem 0 0.4rem 0;
}
.post .post-content .meta {
	font-size: 0.8rem;
	padding-bottom: 0.4rem;
}
.post-single {
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 9px 0px;
	border-radius: 8px;
	padding: 1rem;
	margin-bottom: 1rem;
}
.post-single .single-title{
	margin: 0.4rem 0;
	font-size: 24px;
	font-weight: 700;
}
.post-single img{
	max-width: 100%;
}
.post-single .single-meta{
	font-size: 13px;
	margin-bottom: 1rem;
}
#sidebar {
	float: right;
	width: 30%;
}
#sidebar .sidetitle{
	padding: 0.4rem 0.8rem;
	margin: 0;
	font-weight: 500;
}
#sidebar .sidebox {
	background: #fff;
	border-radius: 8px;
	padding: 1rem;
}
.b-title {
	margin: 0 0 0.4rem 0;
	padding: 0;
}
.midbox{
	background: #fff;
	max-width: 1300px;
	padding: 1rem;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.04) 0px 6px 9px 0px;
	border-radius: 8px;
	margin: 1rem auto;
}
.midform{
	background: #fff;
	max-width: 400px;
	padding: 1rem;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.04) 0px 6px 9px 0px;
	border-radius: 8px;
	margin: 1rem auto;
}
.form-group {
	display: block;
	padding: 0.2rem 0 0.2rem 0;
}
.form-group label {
	display: block;
	padding: 0 0 0.2rem 0;
}
.form-group input, .form-group .form-c {
	width: 100%;
	box-sizing: border-box;
}
.form-group input:hover, .form-group .form-c:hover {
	border-color: #7a7a7a;
}
.form-group input[type="radio"]{
	display: inline;
	width: 30px;
	float: left;
	padding: 0.2rem 0 0.2rem 0;
}
.form-group span {
	font-size: 11px;
}
.form-group .form-personal{
	display: inline;
	float: left;
	width: 60px;
	height: 36px;
	padding-left: 5px;
}
.form-group .form-personaler {
	display: inline;
	width: calc(100% - 120px);
}
.midform button, .midform .btn {
	display: block;
	margin: 0.4rem 0;
	padding: 0.6rem 0.8rem;
}

#footer {
	background: #1b262c;
	height: 70px;
	padding: 1rem 0;
	color: #f1f9fe;
	clear: both;
	border-top: 2px solid rgba(0, 0, 0, 0.8); 
}
.footer-nav {
	padding-bottom: 1rem;
	font-weight: 500;
}
.footer-nav a {
	color: #fff;
	margin-right: 0.6rem;
	border: 0;
	transition: 0.2s;
}
.footer-nav a:hover {
	transition: 0.2s;
	color: #666;
}
button, .btn {
	background: #1b262c;
	padding: 0.2rem 0.4rem;
	color: #fff;
	border-radius: 12px;
	border: none;
	transition: 0.2s;
}
button:hover, .btn:hover {
	transition: 0.2s;
	opacity: 0.8;
	box-shadow: 0;
	border: 0;
}
@media (max-width:1299px) {
	#contents {
		width: 100%;
		padding: 0 1rem;
		box-sizing: border-box;
	}
	#sidebar {
		float: none;
		width: 100%;
		padding: 0 1rem;
		box-sizing: border-box;
	}
}
@media screen and (max-width: 600px) {
  	#header .navbar a {display: none;}
    #header .navbar a.icon {
		float: right;
		display: block;
	}
	#header .navbar .sep {display: none}
	#header{padding: 1.4rem; box-sizing: border-box;}
}

@media screen and (max-width: 600px) {
	#header .navbar.responsive {position: relative;}
	#header .navbar.responsive .icon {
		position: fixed;
		right: 1.4rem;
		top: 1rem;
	}
	#header .navbar.responsive {
		width: 100%;
		padding: 0.4rem 0;
		margin: 1.2rem 0 1rem 0;
		box-sizing: border-box;
	}
    #header .navbar.responsive a {
    	background: #fff;
    	border-radius: 8px;
    	box-shadow: none;
    	border: 0;
    	color: #333;
	    float: none;
	    display: block;
	    text-align: left;
	    padding: 0.8rem;
	    margin: 0.2rem 0;
    }
}