<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /biznetwork/
RewriteCond %{REQUEST_URI} !^/index.php
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !/(data|uploads)/.*
RewriteRule .* $1 [NE,L]
</IfModule>
