@font-face{font-family:"font";src:url("font/4.ttf") format("truetype");font-style:normal;font-weight:400;}@font-face{font-family:"font";src:url("font/4i.ttf") format("truetype");font-style:italic;font-weight:400;}@font-face{font-family:"font";src:url("font/7.ttf") format("truetype");font-style:normal;font-weight:700;}@font-face{font-family:"font";src:url("font/7i.ttf") format("truetype");font-style:italic;font-weight:700;}body{margin:0;}
body.oh{overflow:hidden;}
a{cursor:pointer;text-decoration:none;color:#6D3290;}
a:hover{text-decoration:underline;}
*{word-wrap:break-word;}
body,table,td,select,textares,*{font-family:Roboto condensed;font-size:16px;}
.page-link{background:#f2f2f2;color:#fff;height:40px;line-height:40px;text-align:center;border-bottom:1px solid #ccc;}
.page-link.b{border-bottom:none;border-top:1px solid #ccc;}
.page-link.fx{position:fixed;left:0;right:0;top:0;z-index:9999;}
.page-link.fx.b{top:auto;bottom:0;}
.page-link.fx.b.nofx{position:inherit;}
.page-link>*{display:inline-block;padding:0 5px;text-align:center;height:24px;line-height:24px;vertical-align:middle;min-width:14px;margin:0 2px;-ms-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#999;border:1px solid transparent;}
.page-link>b{background:#F32840;color:#fff;}
.page-link>a{border-color:#ddd;-ms-box-shadow:1px 1px 1px rgba(0,0,0,0.1);-khtml-box-shadow:1px 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.1);-o-box-shadow:1px 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:1px 1px 1px rgba(0,0,0,0.1);box-shadow:1px 1px 1px rgba(0,0,0,0.1);background:#fff;}
.page-link>a:hover{text-decoration:none;background:#6D3290;color:#fff;border-color:#012C45;}
.page-info{background:#fff;color:#888;position:relative;padding:0 10px;min-height:32px;line-height:32px;}
.page-info>div{position:absolute;right:0;top:0;padding:0 10px;height:32px;}
.page-info>div select{border:1px solid #ddd;display:inline-block;height:20px;vertical-align:middle;width:auto;}
button,[type="button"],[type="submit"],.bttn{background:#6D3290;color:#fff;height:36px;line-height:36px;padding:0 15px;border:none;display:inline-block;cursor:pointer;-ms-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
button.rounded,[type="button"].rounded,[type="submit"].rounded,.bttn.rounded{-ms-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
button.cancel,[type="button"].cancel,[type="submit"].cancel,.bttn.cancel{background:#666;}
button.red,[type="button"].red,[type="submit"].red,.bttn.red{background:#0066B3;}
input[type="image"]{cursor:pointer;}
button:disabled,[type="button"]:disabled,[type="submit"]:disabled,[type="image"]:disabled{background:#aaa;color:#000;cursor:no-drop;}
a.bttn:hover{text-decoration:none;}
a.bttn.little{height:20px;line-height:20px;padding:0 5px;}
a.bttn.gray{background:#ddd;color:#222;}
.bttn.blk{display:block;text-align:center;}
.alert-msg{position:fixed;left:50%;top:0;-ms-transform:translateX(-50%);-khtml-transform:translateX(-50%);-webkit-transform:translateX(-50%);-o-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%);max-width:1000px !important;padding-left:10px !important;z-index:99999999;}
.alert-msg>div{background:#fff;margin-top:0;-ms-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-ms-transition:all 800ms ease-in-out;-khtml-transition:all 800ms ease-in-out;-webkit-transition:all 800ms ease-in-out;-o-transition:all 800ms ease-in-out;-moz-transition:all 800ms ease-in-out;transition:all 800ms ease-in-out;line-height:160%;-ms-box-shadow:2px 2px 5px rgba(0,0,0,0.1);-khtml-box-shadow:2px 2px 5px rgba(0,0,0,0.1);-webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.1);-o-box-shadow:2px 2px 5px rgba(0,0,0,0.1);-moz-box-shadow:2px 2px 5px rgba(0,0,0,0.1);box-shadow:2px 2px 5px rgba(0,0,0,0.1);overflow:hidden;-ms-opacity:0;-khtml-opacity:0;-webkit-opacity:0;-o-opacity:0;-moz-opacity:0;opacity:0;filter:Alpha(Opacity=0);-ms-filter:Alpha(Opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-ms-box-sizing:border-box;-khtml-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-ms-transform:translateY(-100%);-khtml-transform:translateY(-100%);-webkit-transform:translateY(-100%);-o-transform:translateY(-100%);-moz-transform:translateY(-100%);transform:translateY(-100%);}
.alert-msg>div:before{content:'';display:block;position:absolute;left:0;top:0;bottom:0;width:5px;}
.alert-msg>div.notice{color:#672C00;}
.alert-msg>div.notice:before{background:#DB5D00;}
.alert-msg>div.msg{color:#023F23;}
.alert-msg>div.msg:before{background:#00AE5E;}
.alert-msg>div.error{color:#710000;}
.alert-msg>div.error:before{background:red;}
.alert-msg>div.info{color:#00223C;}
.alert-msg>div.info:before{background:#0063C9;}
.alert-msg>div.confirm{color:#002D2C;}
.alert-msg>div.confirm:before{background:#008B89;}
.alert-msg>div.form{color:530118;}
.alert-msg>div.form:before{background:#DE006E;}
.alert-msg>div.warning{color:#3E4000;}
.alert-msg>div.warning:before{background:#E2EA00;}
.alert-msg>div.show{-ms-opacity:1;-khtml-opacity:1;-webkit-opacity:1;-o-opacity:1;-moz-opacity:1;opacity:1;filter:Alpha(Opacity=100);-ms-filter:Alpha(Opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-ms-transform:translateY(0px);-khtml-transform:translateY(0px);-webkit-transform:translateY(0px);-o-transform:translateY(0px);-moz-transform:translateY(0px);transform:translateY(0px);margin-top:10px;}
.alert-msg>div>span{cursor:pointer;display:block;width:20px;height:20px;position:absolute;right:16px;top:15px;-ms-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border:4px solid transparent;}
.alert-msg>div>span:after{position:absolute;left:0;top:0;display:block;content:'';background:url("img/cross.png") -5px -5px no-repeat;width:20px;height:20px;}
.alert-msg>div>span:hover{background-color:#D33;border-color:#D33;}
.alert-msg>div>span:hover:after{background-position:-5px -35px;}
.alert-msg>div .btn{text-align:center;}
.alert-msg>div .btn .bttn{-ms-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.alert-msg>div.info b{color:#000;}
.alert-msg>div>div{padding:10px;}
.alert-msg>div>div>div{padding:10px;}
.alert-msg>div>div>h3{margin:0;font-size:22px;-ms-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:6px 10px;text-align:left;text-transform:uppercase;font-weight:normal;-ms-text-shadow:1px 1px 1px rgba(0,0,0,0.3);-khtml-text-shadow:1px 1px 1px rgba(0,0,0,0.3);-webkit-text-shadow:1px 1px 1px rgba(0,0,0,0.3);-o-text-shadow:1px 1px 1px rgba(0,0,0,0.3);-moz-text-shadow:1px 1px 1px rgba(0,0,0,0.3);text-shadow:1px 1px 1px rgba(0,0,0,0.3);}
.alert-msg>div>div input[type="text"]{width:300px;border:1px solid #ddd;height:32px;line-height:32px;padding:0 10px;}
.alert-msg>div>div .btns{text-align:left;padding-top:20px;}
.alert-msg>div>div .btns>input{vertical-align:middle;}
.alert-msg>div>div .btns>a{background:#eee;border:1px solid #e2e2e2;display:inline-block;vertical-align:middle;height:34px;line-height:34px;padding:0 10px;-ms-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;-o-border-radius:2px;-moz-border-radius:2px;border-radius:2px;margin-left:10px;color:#222;}
.alert-msg>div>div .btns>a:hover{text-decoration:none;background:#eaeaea;}
.account-body .alert-msg{margin:10px 0 !important;}
input[type="number"]{-moz-appearance:textfield;}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;}
input[type="radio"],input[type="checkbox"]{margin-left:0;}
table.grid{width:100%;border-spacing:0;background:#f2f2f2;border-bottom:1px solid rgba(0,0,0,0.3);border-right:1px solid rgba(0,0,0,0.3);counter-reset:tnum;}
table.grid th,table.grid td{padding:5px;-ms-box-shadow:inset 1px 1px 0 rgba(0,0,0,0.3);-khtml-box-shadow:inset 1px 1px 0 rgba(0,0,0,0.3);-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,0.3);-o-box-shadow:inset 1px 1px 0 rgba(0,0,0,0.3);-moz-box-shadow:inset 1px 1px 0 rgba(0,0,0,0.3);box-shadow:inset 1px 1px 0 rgba(0,0,0,0.3);position:relative;}
table.grid th{background:#444;color:#bbb;font-weight:normal;padding-right:10px;position:relative;}
table.grid th>a{color:#fff;}
table.grid th>a{color:#fff;}
table.grid td.c{text-align:center;}
table.grid td.r{text-align:right;}
table.grid td.num:after{content:counter(tnum);counter-increment:tnum;}
table.grid th>a.active{font-weight:bold;}
table.grid th>a.active:after,table.grid th>a:hover:after{content:'';display:inline-block;background:url("img/wr.png") center bottom no-repeat;width:10px;height:5px;position:absolute;margin-top:9px;}
table.grid th>a.asc:hover:after,table.grid th>a.active.asc:after,table.grid th>a.active:hover:after{background-position:center top !important;margin-top:6px;}
table.grid th>a.active.asc:hover:after{background-position:center bottom !important;margin-top:9px;}
table.grid td span.m{color:#999;}
table.grid td b.green{color:#0B6C14;}
table.grid tr.odd>td{background:#fff;}
table.grid tr:hover>td{background:#ddd;}
table.grid td a.rm{color:#F33;}
table.grid td.links>a{display:block;padding:3px 0;}
table.grid td a.extra{display:inline-block;background:#6D3290;color:#fff;-ms-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-moz-border-radius:3px;border-radius:3px;cursor:pointer;padding:0 15px;white-space:nowrap;height:36px;line-height:36px;}
table.grid td a.extra:hover{text-decoration:none;background:rgba(109,50,144,0.9);}
table.grid tr.vert-head>th{height:100px;}
option.bd{font-weight:bold;}
option.it{font-style:italic;}
option.red{color:red;}
option.green{color:#3B6B0D;}
option.blue{color:#6D3290;}
option.up{text-transform:uppercase;}
.pop-msg{position:fixed;left:0;top:0;bottom:0;right:0;background:rgba(0,0,0,0.95);z-index:999999;display:none;}
.pop-msg>div{max-width:600px !important;width:90%;position:absolute;left:50%;top:50%;-ms-transform:translate(-50%,-50%) !important;-khtml-transform:translate(-50%,-50%) !important;-webkit-transform:translate(-50%,-50%) !important;-o-transform:translate(-50%,-50%) !important;-moz-transform:translate(-50%,-50%) !important;transform:translate(-50%,-50%) !important;-ms-border-radius:8px;-khtml-border-radius:8px;-webkit-border-radius:8px;-o-border-radius:8px;-moz-border-radius:8px;border-radius:8px;background:#fff;margin:0 !important;}
input[type="text"],input[type="number"],input[type="email"],input[type="url"],input[type="date"],input[type="color"],input[type="password"],select,textarea{width:100%;border:3px solid rgba(0,0,0,0.15);-ms-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-ms-box-sizing:border-box;-khtml-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 10px;height:40px;display:block;}
textarea{resize:vertical;min-height:50px;height:80px;max-height:400px;padding:6px 10px;}
textarea.nrs{resize:none;}
input[type="text"].inline,input[type="number"].inline,input[type="email"].inline,input[type="url"].inline,input[type="date"].inline,input[type="password"].inline,input[type="color"].inline{height:26px;border:1px solid #ccc;padding:0 5px;vertical-align:middle;display:inline-block;width:auto;}
.form{max-width:800px;}
.form>div{margin-bottom:20px;position:relative;}
.form>div>span{position:absolute;right:0;top:5px;display:block;}
.form>div>img{position:absolute;right:0;bottom:0;}
.form>div>label{font-size:20px;position:relative;}
.form>div>label:after{content:':';}
.form>div>label.rq{position:relative;padding-right:20px;}
.form>div>label.rq:before{content:'*';color:red;position:absolute;right:0;font-size:30px;}
.form>div>div{margin-top:10px;}
.form>div.buttons{background:#0066B3;padding:10px;border-top:1px solid rgba(0,0,0,0.3);margin-bottom:0;}
.form>div.buttons>a{display:inline-block;position:relative;margin-right:20px;height:36px;line-height:36px;padding:0 8px;color:#6D3290;padding-left:30px;-ms-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:rgba(255,255,255,0.6);}
.form>div.buttons>a:hover{text-decoration:none;background:#6D3290;color:#fff;}
.form>div.buttons>a:after,.form>div.buttons>a:before{content:'';display:block;position:absolute;left:4px;top:50%;height:4px;margin-top:-2px;-ms-transform-origin:center center;-khtml-transform-origin:center center;-webkit-transform-origin:center center;-o-transform-origin:center center;-moz-transform-origin:center center;transform-origin:center center;background:#6D3290;width:20px;}
.form>div.buttons>a:after{-ms-transform:rotate(90deg);-khtml-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);-moz-transform:rotate(90deg);transform:rotate(90deg);}
.form>div.buttons>a:hover:after,.form>div.buttons>a:hover:before{background:#fff;}
